name: Run Python Script

on:
  push:
    branches:
      - main  # Change to your default branch if different

jobs:
  run-python:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.14.3'  # Use the version of Python you need

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt  # Make sure to have this file if you have dependencies
        

    - name: Run main.py
      run: python main.py
